button {
    transition: transform 0.35s ease;
}
button:hover {
    transform: scale(1.05);
}
button:active {
    transform: scale(0.95);
}

button.Resend img {
    transition: transform 0.75s ease;
}
button.Resend:hover img {
    transform: rotate(360deg);
}


body {
    transition: opacity 1.5s ease, transform 1.5s ease;
}
body.unloaded {
    opacity: 0;
    transform: scale(0.95); 
}
body.loaded {
    opacity: 1;
    transform: scale(1);
}

.Contents .Progress-bar {
    transition: opacity 0.5s ease
}
.Contents .Progress-bar.active {
    display: flex;
    opacity: 1;
}

.Contents #Step1-1 .Notification {
    transition: opacity 1.5s ease, transform 1.5s ease;
}
.Contents #Step1-1 .Notification.closed {
    opacity: 0;
    transform: scale(0.95);
}

.Contents #Step1-1 {
    transition: opacity 1.35s ease, transform 1.35s ease;
}
.Contents #Step1-1.active {
    display: flex;
}
.Contents #Step1-1.disactive {
    display: flex;
    opacity: 0;
    transform: translateX(-50%);
}

.Contents #Step1-2 {
    transition: opacity 1.5s ease, transform 1.5s ease;
}
.Contents #Step1-2.active {
    opacity: 1;
    transform: translateX(0px);
}
.Contents #Step1-2.disactive {
    opacity: 0;
    transform: translateX(-50%);
}

.Contents #Step1-3 {
    transition: opacity 1.5s ease, transform 1.5s ease;
}
.Contents #Step1-3.active {
    opacity: 1;
    transform: translateX(0px);
}